@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script:wght@500&display=swap');

body {
    font-family: 'Advent pro', sans-serif;
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: black;
}
/**********************NAVBAR**********************/
nav {
    overflow: hidden;
    background-color: grey;
    position: fixed;
    width:100%;
    opacity:0.9;
}
header li{
    float: right;
    font-size:1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}
/****************IMAGE PRINCIPALE****************/
#imagePrincipale {
    padding-top: 60px;
    background: url(TC.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color:darkred;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 3px 2px black  ;
}
#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: darkgray;
}
h3{
    text-align: center;
    color:lightcoral;
    font-size: 4em;
    text-shadow: 1px 3px 2px black  ;
}
/*************PRESENTATION***************/
#presentation {
    background-color: lightcoral;
    padding: 10px 0px 100px 0;
}
#texteIntro {
    padding: 0px 20%;
}
#prestation {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

}
.imagesPrestations h4{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagesPrestations img{
    border-radius: 10px;
    box-shadow: 5px 5px 4px 1px rgba(0,0,0,0.7);
}
/***********************FOOTER**********************/
footer{
    background-color: darkred;
    color:lightgrey;
    padding: 20px 0 10px 0;
    text-align: center;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent pro', sans-serif;
    border-radius: 8px;
}
textarea{
    height: 120px;
}
button {
    font-size: 1.5em;
    background-color: rgb(207, 141, 158);
}
button:hover {
    background-color: crimson;
    color: antiquewhite;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color:lightpink;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color:blanchedalmond;
}
#icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color:blue;
}
#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}
